@model AdministradoresWeb.ViewModel.ClienteViewModel.NuevoPassViewModel
@{
    ViewBag.Title = "NuevoPass";
}

<div class="row">
    @Html.Partial("_MenuPartial")
    <div class="col-md-10">
        <h2>Nueva Contraseña</h2>

        @using (Html.BeginForm("NuevoPass", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.NombreUsuario)
            @Html.HiddenFor(x => x.Id)
            @*<div class="form-group">
                    @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NombreUsuario, new { @id = "nombreUsuario", @class = "form-control", @placeholder = "Nombre Usuario" })
                    @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                </div>*@

            <h3>@Model.NombreUsuario</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.PasswordNuevo, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.PasswordNuevo, new { @id = "passNuevo", @class = "form-control", @placeholder = "Contraseña Nueva", type = "password" })
                @Html.ValidationMessageFor(model => model.PasswordNuevo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PasswordConfirmacion, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.PasswordConfirmacion, new { @id = "passConfirm", @class = "form-control", @placeholder = "Confirmar Contraseña", type = "password" })
                @Html.ValidationMessageFor(model => model.PasswordConfirmacion, "", new { @class = "text-danger" })
                <label class="text-danger">@Model.Mensaje</label>
                <label class="text-success">@Model.MensajeOK</label>
            </div>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
            </button>

        }
    </div>
</div>


