@model AdministradoresWeb.ViewModel.ServicioViewModel.AltaServicioViewModel
@{
    ViewBag.Title = "AltaServicio";
}

<script src="~/Scripts/servicio-alta.js"></script>

<div class="row">
    @Html.Partial("_MenuPartial")
    <div class="col-md-10 pull-right">
        <h2>Nuevo Servicio</h2>
        @using (Html.BeginForm("AltaServicio", "Servicio", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()

            @*@Html.HiddenFor(x => x.administrador.Id)*@

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-xs-5 col-sm-5 col-md-2">
                <div class="thumbnail">
                    <img src=@("/Imagenes/Servicios/SinImagen.jpg") id="ImgArchivo" onclick="$('#Archivo').click()" style="width:100%; height:100%;" />
                </div>
            </div>

            <input type="file" style="display:none;" name="Archivo" id="Archivo" onchange="$(mostrarImagen(this));">

            <div class="clearfix"></div>
            <br>

            <div class="form-group">
                @Html.LabelFor(x => x.Nombre, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre" })
                @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
            </div>

            <h3>Preguntas</h3>
            <div>
                <input type="hidden" id="CadenaPreguntas" name="CadenaPreguntas">
                <div>
                    @foreach (var c in Model.Preguntas)
                    {
                        <label class="checkbox-inline">
                            <input class="preguntas" type="checkbox" id="ChkPreg_@c.Id" name="@c.Id" value="@c.Id">
                            @c.UnaPregunta
                        </label>
                    }
                </div>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ingresar
            </button>
        }
    </div>
</div>

