@model List<ET.Administrador>
@{
    ViewBag.Title = "ListaAdministradores";
}

<div class="row">
    <div class="col-xs-12 col-md-2">
        <div>
            <h3>Gestión</h3>
            @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "SuperAdministrador")<br />
            @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
            @Html.ActionLink("Gestión Servicios", "ListaServicios", "Servicio")<br />
            @Html.ActionLink("Gestión Publicaciones", "ListaPublicaciones", "Publicaciones")<br />
            @Html.ActionLink("Configuración", "Editar", "Configuracion")
        </div>
    </div>
    <div class="col-md-10">
        <h2>
            Lista Administradores
            <button type="button" class="btn btn-success pull-right" OnClick="location.href = 'AltaAdmin'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Administrador
            </button>
        </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th>Imagen</th>*@
                    <th class="hidden-sm hidden-xs">Nombre</th>
                    <th class="hidden-sm hidden-xs">Apellido</th>
                    <th>Nombre Usuario</th>
                    <th class="hidden-sm hidden-xs">Correo</th>
                    <th>Habilitado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        @*<td>                            
                            <img src=@("/Imagenes/Clientes/" + c.Foto) height="50" width="50" />
                        </td>*@
                        <td class="hidden-sm hidden-xs">@c.Nombre</td>
                        <td class="hidden-sm hidden-xs">@c.Apellido</td>
                        <td>@c.NombreUsuario</td>
                        <td class="hidden-sm hidden-xs">@c.CorreoElectronico</td>
                        @if (c.Habilitado)
                        {
                            <td>Si</td>
                        }
                        else {
                            <td>No</td>
                        }
                        <td>
                            <a title="Ver" href="~/Administrador/Ver/@c.Id">Ver</a>

                            <a title="Editar" href="~/Administrador/Editar/@c.Id">Editar</a>

                            @if (c.Habilitado)
                            {
                                <a title="Inhabilitar" onclick="return confirm('¿Esta seguro?');" href="~/Administrador/Inhabilitar/@c.Id">Inhabilitar</a>
                            }
                            else {
                                <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Administrador/Habilitar/@c.Id">Habilitar</a>
                            }



                            <a title="Eliminar" onclick="return confirm('¿Esta seguro?');" href="~/Administrador/Eliminar/@c.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
