@{
    ViewBag.Title = "_Mensajes";
}

@*<h1>Mensaje:</h1>*@
<div class="row">
    @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].Equals("ADMINISTRADOR"))
    {
        <div class="col-md-2">
            <div>
                <h3>Gestión</h3>
                @Html.ActionLink("Gestión Administradores", "ListaAdministradores", "SuperAdministrador")<br />
                @Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
                @Html.ActionLink("Gestión Servicios", "ListaServicios", "Servicio")<br />
                @Html.ActionLink("Gestión Publicaciones", "ListaPublicaciones", "Publicaciones")<br />
                @Html.ActionLink("Configuración", "Editar", "Configuracion")
            </div>
        </div>

        <div class="col-md-10">
            <div>
                <h2>@(ViewBag.Mensaje)</h2>
                <br>


                <a title="Inicio" href="~/">Volver al Inicio</a>
            </div>
        </div>
    }
    else {
        <div class="col-md-10">
            <h2>@(ViewBag.Mensaje)</h2>
            <br>

            <a title="Inicio" href="~/">Volver al Inicio</a>
        </div>
    }

</div>

